<div fxLayout="row wrap">
  <!-- Macros information & links -->
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="propic text-center">
        <img src="assets/images/decentralizedIV.jpg" alt="">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title"><b>{{profileAccount.name}}</b></div>
        <div class="subtitle mb-05">{{profileAccount.accountRS}}</div>
        <div class="text-muted">{{profileAccount.description}}</div>
      </div>
      <div class="profile-actions mb-1" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Message</button>
      </div>
      <div class="profile-nav">
        <mat-nav-list>
          <mat-list-item routerLink="/profile/overview" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>
            Overview
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/profile/settings" routerLinkActive="list-item-active">
            <mat-icon>settings</mat-icon>
            Verify an account
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </div>
    </mat-card>

    <!-- Contact Information
    <mat-card class="default">
      <mat-card-title>Contact Information</mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item><mat-icon class="mr-1">public</mat-icon> www.mhrafi.com</mat-list-item>
          <mat-list-item><mat-icon class="mr-1">email</mat-icon> example@gmail.com</mat-list-item>
          <mat-list-item><mat-icon class="mr-1">phone</mat-icon> 8801822778800</mat-list-item>
          <mat-list-item><mat-icon class="mr-1">add_location</mat-icon> SUST, Sylhet, BD</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    -->
  </div>
    
<!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-md="calc(100% - 300px)" fxFlex.gt-sm="50">
    <router-outlet></router-outlet>
  </div>
</div>