<mat-card class="p-0">
  <mat-tab-group>
    <mat-tab label="Account Verification">
      <mat-card-content class="mt-1">
        <mat-horizontal-stepper [linear]="true">

          <mat-step [stepControl]="tokenFormGroup">
            <form [formGroup]="tokenFormGroup">
              <ng-template matStepLabel>Request a challenge token</ng-template>
              <div fxLayout="column" >
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                    <mat-label>Ardor Contract Account</mat-label>
                    <input 
                    matInput 
                    placeholder="Ardor Contract Account" 
                    [formControl]="tokenFormGroup.controls['contractAccount']"
                    [(ngModel)]="contractAccount"
                    required>
                  </mat-form-field>
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                      <mat-label>My Passphrase</mat-label>
                      <input 
                      matInput 
                      placeholder="My Passphrase" 
                      [formControl]="tokenFormGroup.controls['myPassphrase']"
                      [(ngModel)]="passPhrase"
                      required>
                  </mat-form-field>
                  <mat-form-field *ngIf="waitResponse" class="full-width" appearance="outline">
                    <mat-label>Challenge text</mat-label>
                    <textarea 
                    matInput 
                    placeholder="Challenge text" 
                    [formControl]="tokenFormGroup.controls['challengeText']"
                    [(ngModel)]="challengeText"
                    required></textarea>
                  </mat-form-field>
                  <mat-form-field *ngIf="waitResponse" class="full-width" appearance="outline">
                    <mat-label>Challenge token</mat-label>
                    <textarea 
                    matInput 
                    placeholder="Challenge token" 
                    [formControl]="tokenFormGroup.controls['challengeToken']"
                    [(ngModel)]="tokenValue"
                    required></textarea>
                  </mat-form-field>
                  <button mat-raised-button class="mat-accent full-width mb-1" (click)="getChallengeToken()">Request Challenge</button>
              </div>
              <div>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="signingFormGroup">
            <form [formGroup]="signingFormGroup">
              <ng-template matStepLabel>Sign the challenge token</ng-template>
              <div fxLayout="column">
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                      <mat-label>My Ardor Account</mat-label>
                      <input 
                      matInput 
                      placeholder="My Ardor Account" 
                      [formControl]="signingFormGroup.controls['myAccount']"
                      [(ngModel)]="myAccount"
                      required>
                  </mat-form-field>
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                    <mat-label>Challenge text</mat-label>
                    <textarea 
                    matInput 
                    placeholder="Challenge text" 
                    [formControl]="signingFormGroup.controls['challengeText']"
                    [(ngModel)]="challengeText"
                    required></textarea>
                </mat-form-field>
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                      <mat-label>Challenge token</mat-label>
                      <textarea 
                      matInput 
                      placeholder="Challenge token" 
                      [formControl]="signingFormGroup.controls['challengeToken']"
                      [(ngModel)]="tokenValue"
                      required></textarea>
                  </mat-form-field>
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                      <mat-label>My Passphrase</mat-label>
                      <input 
                      matInput 
                      placeholder="My Passphrase" 
                      [formControl]="signingFormGroup.controls['myPassphrase']"
                      [(ngModel)]="passphrase"
                      required>
                  </mat-form-field>
                  <mat-form-field *ngIf="isSigned" class="full-width pt-1"  appearance="outline">
                      <mat-label>Signed token</mat-label>
                      <textarea 
                      matInput 
                      placeholder="Signed token" 
                      [formControl]="signingFormGroup.controls['signedToken']"
                      [(ngModel)]="signedToken"
                      required></textarea>
                    </mat-form-field>
                    <button mat-raised-button class="mat-accent full-width mb-1" (click)="signToken()">Sign Token</button>
              </div>
              
              <div fxLayout="row">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <span fxFlex="8px"></span>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="publishingFormGroup">
            <form [formGroup]="publishingFormGroup">
              <ng-template matStepLabel>Sign the challenge token</ng-template>
              <div fxLayout="column">
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                      <mat-label>My Ardor Account</mat-label>
                      <input 
                      matInput 
                      placeholder="My Ardor Account" 
                      [formControl]="publishingFormGroup.controls['myAccount']"
                      [(ngModel)]="myAccount"
                      required>
                  </mat-form-field>
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                    <mat-label>Challenge text</mat-label>
                    <textarea 
                    matInput 
                    placeholder="Challenge text" 
                    [formControl]="publishingFormGroup.controls['challengeText']"
                    [(ngModel)]="challengeText"
                    required></textarea>
                </mat-form-field>
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                      <mat-label>Challenge token</mat-label>
                      <textarea 
                      matInput 
                      placeholder="Challenge token" 
                      [formControl]="publishingFormGroup.controls['challengeToken']"
                      [(ngModel)]="tokenValue"
                      required></textarea>
                  </mat-form-field>
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                      <mat-label>Signed token</mat-label>
                      <textarea 
                      matInput 
                      placeholder="Signed token" 
                      [formControl]="publishingFormGroup.controls['signedToken']"
                      [(ngModel)]="signedToken"
                      required></textarea>
                  </mat-form-field>
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                    <mat-label>Public URL</mat-label>
                    <textarea 
                    matInput 
                    placeholder="Public url where signed token has been published" 
                    [formControl]="publishingFormGroup.controls['publicUrl']"
                    [(ngModel)]="publicUrl"
                    required></textarea>
                  </mat-form-field>
                  <mat-form-field class="full-width pt-1"  appearance="outline">
                    <mat-label>Fee in IGNIS (minimum is {{minimalFee}})</mat-label>
                    <input
                    matInput 
                    placeholder="Necessary fee for the contract to set a new property" 
                    [formControl]="publishingFormGroup.controls['propertyFee']"
                    [(ngModel)]="minimalFee"
                    required>
                  </mat-form-field>
                  <button mat-raised-button class="mat-accent full-width mb-1" (click)="sendToContract()">Send to contract for verification</button>
              </div>
              <div fxLayout="row">
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <span fxFlex="8px"></span>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div>
              <mat-icon class="pt-1" [style.fontSize]="'36px'">check</mat-icon>
            </div>
            <div class="pb-1 mb-1"> You Are Done.</div>
            <div fxLayout="row">
              <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              <span fxFlex="8px"></span>
              <button mat-raised-button color="primary" (click)="submit()">Submit</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>